/* Universal Styles */ 
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

@font-face {
  font-family: Augillion;
  src: url("/Augillion.otf") format("opentype");
}
  
body {
  background-image: url("photo-background.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: "mrs-eaves", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

.content{
  height:100vh;
}

.main-content {
  height:85vh;
}

h1 {
  font-family: "Augillion", serif;
  font-size: 8rem;
}

a {
  font-size:1.25rem;
  color: #ffffff !important;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: #9B6D29;
  color: #fff;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

button a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

/* Navigation Styles */ 
.navbar-nav {
  flex: 1;
}

.navbar-brand{
  font-family: "Augillion", serif;
  font-size: 3em;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-toggler {
  width: 50px;
  height: 50px;
  padding: 0 !important;
}

.active {
  text-decoration: underline;
}


.centered-content {
  line-height: 1;
}

.intro-text {
  font-size: 3rem;
  text-transform: uppercase;
}

/* Internal Page Styles */ 
.internal-page{
  background: #031638;
}

.internal-menu{
  background: #031638 !important;
  position: relative;
}

.enlarged-text {
font-size: 1.5rem;
}

.internal-header{
  margin-top: 5rem;
}

.submit {
  width: 150px !important;
  }

  .accordion-body {
    color:#000;
  }

  .show {
    width: inherit;
  }

/* Media Queries */ 
  @media screen and (max-width:991px){

    .container {
    max-width: 100vw;
  }

  .navbar-brand,  .navbar-toggler {
    margin: 0 1rem;
  } 
}

  @media screen and (max-width:576px){

    h1 {
    font-size: 4rem;
  }

  .middle {
    display: none;
  }

  .intro-text{
    font-size:1.5rem;
  }

  button {
    width: 100px;
    padding: 5px 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }

  button a {
    font-size: 1.5rem;
  }
    
  }

  @media screen and (max-width:1200px){
  
    .navbar-brand {
      font-size: 2.5rem;
    } 
    }

    
@media (max-width:991px) {
      .navbar-collapse
        {
            background-color:#031638;
        }
    }

    @media (max-width:768px) {

      h1{
        font-size: 6rem;
      }

      .intro-text{
        font-size: 4rem;
      }
  
    
}

@media (max-width:576px) {

  h1{
    font-size: 4rem;
  }
}

  @media (max-width:560px) {

    iframe {
      width:500px;
    }
  }

  @media (max-width:500px) {

    iframe {
      width:425px;
    }
  }

  @media (max-width:425px) {

    iframe {
      width:350px;
    }
  }

@media (max-width:375px) {

      h1{
        font-size: 3rem;
      }

      .intro-text{
        font-size: 1.5rem;
      }
  
    
}
    @media (max-width:355px) {

  h1{
    font-size: 2.5rem;
  }

  .intro-text{
    font-size: 1rem;
  }

  footer{
    font-size: 1rem;
  }
  

}